
.calculator{
    width: 490px;
    height: 750px;
    background-color: #e8e5df ;
}
#history{
    text-align: right;
    font-size: 20px;
    color: gray;
    padding-top: 50px;
    padding-right: 10px;
}
#current{
    text-align: right;
    font-size: 60px;
    padding-top: 80px;
    padding-right: 10px;
}

#display{
    width: 100%;
    height: 270px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 5px;
    margin-left: 5px;
}
#buttons button{
    width: 115px;
    height: 75px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    font-size: large;
}
#buttons #equal{
    background-color: blue;
    color: white;
}

